RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ /learning/api/$1.php [L]

RewriteCond %{THE_REQUEST} /learning/api/([^.]+)\.php [NC]
RewriteRule ^ /learning/api/%1 [NC,L,R]
